<!DOCTYPE html>
<html>



<title> Site de Compras</title>

<body>
    <h4>Bem vindo ao nosso site</h4>
    <p><a href={{url_for("usuario")}}> Cadastro de Usuario</a></p>
    <p><a href={{url_for("anuncio")}}> Cadastro de Anuncio</a></p>
    <p><a href={{url_for("pergunta")}}> Perguntas dos Anuncios</a></p>
    <p><a href={{url_for("pergunta")}}> Compras</a></p>
    <p><a href={{url_for("pergunta")}}> Favoritos</p>
    <p><a href={{url_for("categoria")}}> Categoria</p>
    <p><a href={{url_for("relVendas")}}> Relatório de Vendas</a></p>
    <p><a href={{url_for("relCompras")}}> Relatório de Compras</a></p>



</body>

</html>
