<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title> Manfré & Cia</title>
    </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="cabecalho">
      <a class="navbar-brand" href="#"></a>
      <img src="/static/img/logo-site.PNG" class="d-inline-block align-top" alt="Logo marca Manfré & Cia">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href={{ url_for("index")}}>Início <span class="sr-only">(Página atual)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cadastros
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href={{ url_for("usuario")}}>Cadastro de Usuário</a>
              <a class="dropdown-item" href={{ url_for("anuncio")}}>Cadastro de Anúncio</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Anúncios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#anuncios">Anúncios Ativos</a>
              <a class="dropdown-item" href={{  url_for("pergunta")}}>Perguntas</a>
              <a class="dropdown-item" href={{  url_for("pergunta")}}>Favoritos</a>
             
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Configurações
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href={{  url_for("categoria")}}>Categoria</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href={{ url_for("relatorios")}}>Relatórios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={{ url_for("login")}}>Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={{ url_for("logout")}}>Logout</a>
          </li>
        </ul>
      </div>
  </nav>

  <header id="principal">
      <div class="container-fluid" >
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 imagem-carrossel" src="/static/img/tipos_jack.jpg" alt="Primeiro Slide foto do whisky jack daniels">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 imagem-carrossel" src="/static/img/tipos_walker.jpg" alt="Segundo Slide foto whisky walker">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 imagem-carrossel" src="/static/img/tipos_glen.jpg" alt="Terceiro Slide imagem whisky glen">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
  </header>   
  <section class="py-5" id="anuncios">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                  
                    <img class="card-img-top" src="/static/img/blue.png" alt="..." />
                   
                    <div class="card-body p-4">
                        <div class="text-center">
                          
                            <h5 class="fw-bolder">Fancy Product</h5>
                         
                            $40.00 - $80.00
                        </div>
                    </div>
                   
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Comprar</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                   
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                   
                    <img class="card-img-top" src="/static/img/walkerwhite.jfif" alt="..." />
                   
                    <div class="card-body p-4">
                        <div class="text-center">
                            
                            <h5 class="fw-bolder">Special Item</h5>
                          
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                         
                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                   
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                   
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                  
                    <img class="card-img-top" src="/static/img/jackdan.png" alt="..." />
                   
                    <div class="card-body p-4">
                        <div class="text-center">
                           
                            <h5 class="fw-bolder">Sale Item</h5>
                           
                            <span class="text-muted text-decoration-line-through">$50.00</span>
                            $25.00
                        </div>
                    </div>
                    
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                   
                    <img class="card-img-top" src="/static/img/mel.jfif" alt="..." />
                    
                    <div class="card-body p-4">
                        <div class="text-center">
                            
                            <h5 class="fw-bolder">Popular Item</h5>
                         
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                        
                            $40.00
                        </div>
                    </div>
                  
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                 
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                 
                    <img class="card-img-top" src="/static/img/balan.jfif" alt="..." />
                  
                    <div class="card-body p-4">
                        <div class="text-center">
                            
                            <h5 class="fw-bolder">Sale Item</h5>
                           
                            <span class="text-muted text-decoration-line-through">$50.00</span>
                            $25.00
                        </div>
                    </div>
                   
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
             <div class="col mb-5">
                <div class="card h-100">
                  
                    <img class="card-img-top" src="/static/img/glen.jfif" alt="..." />
                   
                    <div class="card-body p-4">
                        <div class="text-center">
                         
                            <h5 class="fw-bolder">Fancy Product</h5>
                           
                            $40.00 - $80.00
                        </div>
                    </div>
                    
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                  
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                   
                    <img class="card-img-top" src="/static/img/black.jfif" alt="..." />
                    
                    <div class="card-body p-4">
                        <div class="text-center">
                            
                            <h5 class="fw-bolder">Special Item</h5>
                     
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                     
                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                 
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                   
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                  
                    <img class="card-img-top" src="/static/img/jameson.jfif" alt="..." />
                   
                    <div class="card-body p-4">
                        <div class="text-center">
                         
                            <h5 class="fw-bolder">Sale Item</h5>
                            
                            <span class="text-muted text-decoration-line-through">$50.00</span>
                            $25.00
                        </div>
                    </div>
                   
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                   
                    <img class="card-img-top" src="/static/img/white.jfif" alt="..." />
                   
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Popular Item</h5>
                          
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                         
                            $40.00
                        </div>
                    </div>
                  
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                   
                    <img class="card-img-top" src="/static/img/chivas.jfif" alt="..." />
                  
                    <div class="card-body p-4">
                        <div class="text-center">
                         
                            <h5 class="fw-bolder">Sale Item</h5>
                          
                            <span class="text-muted text-decoration-line-through">$50.00</span>
                            $25.00
                        </div>
                    </div>
                    
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> 





      <footer>
        <div class="bg-secondary p-3" id="rodape">
          <div class="row">
            <div class="col-12">
              <p class="text-center text-light m-0">&copy; Copyright Manfré & Cia - Presidente Prudente - 2022</p>
            </div>
          </div>
        </div>
      </footer>

   


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <noscript>Atualize seu navegador</noscript>
</body>

</html>
