<!DOCTYPE html>
<html>



<title> Cadastro de Usuario - {{titulo}}</title>

<body>
    <h4>{{titulo}}</h4>
    <form action="caduser" method="post">
        <p><label for="user">Username</label></p>
        <p><input type="text" id="user" name="user"></p>

        <p><label for="email">E-mail</label></p>
        <p><input type="text" id="email" name="email"></p>

        <p><label for="passwd">Password</label></p>
        <p><input type="text" id="passwd" name="passwd"></p>

        <p><input type="submit" value="Cadastrar"></p>
    
    </form>


</body>

</html>
